body {
    font-family: 'Fira Mono';
    background: white;
    margin: 0px;
}

img {
    background: white;
} 

h1 {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

header {
    border-top: 3px solid #727272;
}

.mozilla {
    position: absolute;
    float: left;
    display: block;
    height: 49px;
    width: 118px;
    background: url('../images/mozilla.png') 100% 0 no-repeat;
    text-indent: -200px;
    overflow: hidden;
    margin-left: 20px;
}

.github {
    display: block;
    background: url('../images/github.png') 100% 0 no-repeat;
    background-position: center;
    height: 64px;
}

.glyph {
    padding: 3em;
    text-align: center;
}

.members {
    display: table;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 3em;
}

.members a, .members img {
    display: inline-block;
    float: left;
    height: 60px;
    width: 60px;
    background: white;
}

.projects {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 3em;
}

.projects a {
    display: block;
    font-size: 20px;
    color: #333;
}

.projects span {
    float: right;
}
